/* src/components/ProductList.css */
/* .container{
    align-items: center;
    width: 100%;
} */
.product-list {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .product-list h2 {
    color: #3a90e3; /* Header color */
  }
  
  .product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .product-details {
    flex: 1;
    text-align: left;
  }
  
  .product-details p {
    margin: 5px 0;
    color: #555;
  }
  
  .remove-button {
    background-color: #ff0000; /* Button color */
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.2s ease;
  }
  
  .remove-button:hover {
    background-color: #ff5555; /* Button color on hover */
  }
  